
body{
    /*font-family: monospace;*/
    font-family: "Source Code Pro", sans-serif;
    font-size: 13px;
}


pre{
    margin:0px;
    padding:0;
   /* font-family: 'Cousine', monospace;code {*/
    font-family: "Source Code Pro", sans-serif;
}

div.line{
    white-space:pre-wrap;
    min-width: 100%;
    width:100%;
}


.number{
    width: 30px;
    float: left;
}
      
.text{
    margin-left:30px;
   }

#cursor{
 }
#cursor_insert{
 }
